  <section class="container">
    <div id="text" class="d-flex align-items-center justify-content-center">
      <div class="text-center ">
        <h1 id=" welcome">WELCOME TO GIT-SEARCH</h1>
        <div class="description">
          <p>GitHub is where over 65 million developers shape the future of software, together. Contribute to the open
            source community, manage your Git repositories</p>
          <p>a simple github user search tool</p>
          <h5 class="copyright">© 2019 Copyright: Joy Kolia</h5>
        </div>
      </div>
    </div>
  </section>
