.container {
  margin-top: 10%;
}
#welcome_text {
    font-size: 16pt;
}

#home {
    text-align: center;
    background-image: url('/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

#overlay {
    padding-top: 20%;
    padding-bottom: 25%;
    overflow: auto;
    position: relative;
    top: 0;
    bottom: 0;
    background-color: rgba(36, 32, 32, 0.5);
}
